<h1>Books</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @books.each do |book| %><tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td>
           <span>
           <%= link_to "Show", "/books/#{book.id}" %>
           </span>
            </td>

            <td>
           <span>
           <%= link_to "Edit", "/books/#{book.id}/edit" %>
           </span>
            </td>

            <td>
           <span>
           <%= link_to "Destroy", "/books/#{book.id}",method: :delete %>
           </span>
            </td>
        </tr>
        <% end %>

    </tbody>
</table>
<% if @book.errors.any? %>
  <div id="error_explanation">
       <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>New book</h1>
<%= form_with model:@book,  local:true do |f| %>
<h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>
<% end %>